altgraph==0.17.4
asgiref==3.8.1
attrs==25.3.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.11
Django==4.2.18
et_xmlfile==2.0.0
exceptiongroup==1.3.0
h11==0.16.0
idna==3.10
importlib_metadata==8.5.0
newsapi==0.1.1
newsapi-python==0.2.7
numpy==1.24.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.0.3
pefile==2023.2.7
phonenumbers==9.0.10
pycparser==2.22
pyinstaller-hooks-contrib==2025.8
PyMySQL==1.1.1
pypiwin32==223
pypng==0.20220715.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyttsx3==2.99
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
qrcode==7.4.2
requests==2.32.4
selenium==4.27.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
sqlparse==0.5.3
trio==0.27.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
zipp==3.20.2
setuptools
wheel
Django
djangorestframework
django-cors-headers
gunicorn