*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f6f9;
min-height:100vh;
}

.sidebar{

width:230px;
height:100vh;
position:fixed;

background: linear-gradient(180deg,#004663,#12EBE9);

color:white;
padding:25px 15px;

}

.sidebar-title{
font-size:20px;
font-weight:700;
margin-bottom:40px;
letter-spacing:1px;
}

.menu{
list-style:none;
}

.menu li{
margin-bottom:15px;
}

.menu a{

display:flex;
align-items:center;

padding:12px 16px;

text-decoration:none;
color:white;

border-radius:12px;

transition:0.2s;

white-space:nowrap;   /* important */
overflow:hidden;
text-overflow:ellipsis;

}

.menu a:hover{
background:rgba(255,255,255,0.1);
}

.menu a.active{

background:#d9f3f6;

color:#ff7a18;

font-weight:600;

box-shadow:0px 3px 8px rgba(0,0,0,0.15);

}